<%- include("../../views/partials/admin/header") %>
<style>
 .col-md-3 {
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 10px;
   margin: 10px;
 }


 .error-message {
   color: red;
   margin-top: 5px;
 }


 .form-label {
   margin-bottom: 8px;
 }


 .form-control {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }


 .d-grid {
   margin-top: 20px;
 }


 .btn-primary {
   background-color: #007bff;
   color: #fff;
   border: 1px solid #007bff;
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
 }


 .btn-primary:hover {
   background-color: #0056b3;
   border-color: #0056b3;
 }
 </style>
<section class="content-main">
 <div class="content-header">
   <div>
     <h2 class="content-title card-title">Coupons</h2>
   </div>
 </div>
 <div class="card">
   <div class="card-body">
     <div class="row">
       <div class="col-md-3">
         <form id="couponForm">
             <div class="mb-4">
               <label for="coupon-name" class="form-label">Coupon Name</label>
               <input
                 type="text"
                 id="coupon-name"
                 name="couponName"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-coupon-name" class="error-message"></div>
             </div>


             <div>
               <label for="startingDate" class="form-label">Start Date</label>
               <input
                 type="date"
                 name="startDate"
                 class="form-control"
                 required="true"
                 id="startingDate"
               />
               <div id="error-start-date" class="error-message"></div>
             </div>


             <div>
               <label for="expiringDate" class="form-label">End Date</label>
               <input
                 type="date"
                 name="endDate"
                 class="form-control"
                 id="expiringDate"
                 required="true"
               />
               <div id="error-end-date" class="error-message"></div>
             </div>


             <div>
               <label for="offer-price" class="form-label">Offer Price</label>
               <input
                 type="number"
                 name="offerPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-offer-price" class="error-message"></div>
             </div>


             <div>
               <label for="minimum-price" class="form-label"
                 >Minimum Price</label
               >
               <input
                 type="number"
                 name="minimumPrice"
                 placeholder="Type here"
                 class="form-control"
               />
               <div id="error-minimum-price" class="error-message"></div>
             </div>


             <div class="d-grid">
               <button
                 class="btn btn-primary mt-20"
                 type="submit"
               >
                 Add Coupon
               </button>
             </div>
             <div id="err-msg" class="error-message"></div>
           </body>
         </form>
       </div>
       <div class="col-md-7 ml-10" style="width: 70%;">
         <div class="table-responsive">
             <table class="table " style="background-color: rgb(48, 48, 48); text-align: center;">
                 <thead>
                     <tr>
                         <th >Name</th>
                         <th>Created On</th>
                         <th>Expire On</th>
                         <th>Offer Price</th>
                         <th>Minimum Price</th>
                         <th>Status</th>
                         <th>Edit</th>
                         <th>Delete</th>
                     </tr>
                 </thead>
                 <tbody>
                    <%for(let i =0 ; i < coupons.length; i++){%>
                    
                     <tr>
                         <td class="text-start"><%=coupons[i].name%></td>
                         <td class="text-center"><%= new Date(coupons[i].createdOn).toLocaleDateString('en-US')%></td>
                         <td class="text-center"><%=new Date(coupons[i].expireOn).toLocaleDateString('en-US')%></td>
                         <td class="text-center">₹<%=coupons[i].offerPrice%></td>
                         <td class="text-center">₹<%=coupons[i].minimumPrice%></td>
                         <%if(coupons[i].isActive){%>
                            <td>
                            <span class="badge rounded-pill btn-success" style="width: 60px;">Listed</span>
                        </td>
                            <%}else{%>
                                <td> 
                            <span class="badge rounded-pill btn-danger" style="width: 60px">Unlisted</span>
                        </td>
                            <%}%>
                         
                         <td class="text-center">
                             <a href="/admin/editCoupon?id=<%=coupons[i]._id%>" class="btn btn-primary " style="height: 35px;width: 70px; padding: 10px 0px ;">Edit</a>
                            </td>
                            <td>
                            <a href="#" onclick="deleteCoupon('<%=coupons[i]._id%>')" class="btn btn-danger btn-sm" style="height: 35px;width: 90px;">Delete</a>
                        </td>
                     </tr>
                     <%}%>
                 </tbody>
             </table>
         </div>
     </div>
     </div>
   </div>
 </div>
</section>


<script>

function setDefaultStartDate(){
    const today = new Date();
    const year = today.getFullYear();
    let month = (today.getMonth()+1).toString().padStart(2,"0");
    let day = today.getDate().toString().padStart(2,"0");
    document.getElementById("startingDate").value = `${year}-${month}-${day}`
}


document.getElementById("couponForm").addEventListener("submit", async function (event) {
  event.preventDefault();


  const formData = {
    couponName : document.getElementById("coupon-name").value,
    startDate : document.getElementById("startingDate").value,
    endDate : document.getElementById("expiringDate").value,
    offerPrice : document.getElementsByName("offerPrice")[0].value,
    minimumPrice : document.getElementsByName("minimumPrice")[0].value
  }

  try{
    const response = await fetch("/admin/createCoupon", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formData),
    });

    const data = await response.json();

    if(data.success){
      Swal.fire({
        icon:"success",
        title: "Success!",
        text: data.message,
      }).then(() =>{
        window.location.href = "/admin/coupon"
      });
    }else{
      Swal.fire({
        icon: "error",
        title: "Error!",
        text: data.message,
      });
    }
  }catch(error){
    console.error("Error:", error);
    Swal.fire({
      icon:"error",
      title:"Error",
      text:data.message,
    })
  }
})





 function deleteCoupon(couponId) {
  fetch(`/admin/deletecoupon?id=${couponId}`,
    {method:"DELETE"}
  ).then((response) => response.json())
  .then((data) =>{
    if(data.success){
      Swal.fire({
        icon:'success',
        title:"Deleted",
        text:data.message
      })
    }else{
      Swal.fire({
        icon:'error',
        title:"Error!",
        text:"Failed to delete the coupon. please try again"
      })
    }
  })
  .catch((error) =>{
    console.error("Error deleting coupon:", error);
    Swal.fire({
      icon:'error',
      title:"Error!",
      text: data.message
    })
  })
 }


</script>
<%- include("../../views/partials/admin/footer") %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>